<ul class="breadcrumb">
    <li>
        <a href="#/members">Members</a>
    </li>
    <li class="active">
        Profile
    </li>
</ul>


<img src="{{info.photo}}" class="img-circle"/>

<table class="table-condensed">
    <tr>
        <td>Gender</td>
        <td>{{info.gender}}</td>
    </tr>
    <tr>
        <td>Nickname</td>
        <td>{{info.nickname}}</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>{{info.age}}</td>
    </tr>
    <tr>
        <td>Location</td>
        <td>{{info.location}}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{info.status}}</td>
    </tr>

</table>

<p>{{info.bio}}</p>
